# OS
.DS_Store

# Zsh
.zsh_history
.zcompdump*
.zsh_sessions

# Oh My Zsh caches
oh-my-zsh/cache/

# Starship cache (if ever created)
.starship/

# Secrets
.env
.env.*

# systemd runtime state (DO NOT TRACK)
default.target.wants/
*.wants/
*.requires/
*.d/*.swp

# editor junk
*~
*.bak
